{% extends "todoapp/base.html" %}

{% block base_content %}
<div style="height: 50px"></div>
<div class="TaskModal-overlay">
    <div class="TaskModal-content">
        <div class="TaskModal-header">
            <h2>Редактирование задачи</h2>
        </div>
        <div class="TaskModal-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="TaskModal-actions">
                    <button type="button" class="btn-close" onclick="window.location.href='{% url 'first_category' %}'">Отмена</button>
                    <button type="submit" class="btn-save">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
{% endblock %}