{% extends 'todoapp/base.html' %}

{% block base_content %}
<div style="height: 50px"></div>
<div class="TaskModal-overlay">
    <div class="TaskModal-content">
        <div class="TaskModal-header">
            <h2>Пароль успешно изменен!</h2>
        </div>
        <div class="TaskModal-actions">
            <button type="button" class="btn-close" style="margin: 0 auto"
                    onclick="window.location.href='{% url 'users:profile' %}'">Вернуться в профиль</button>
        </div>
    </div>  
</div>
<div style="height: 50px"></div>
{% endblock %}
