{% extends "todoapp/base.html" %}
{% load i18n %}

{% block base_content %}
<div style="height: 50px"></div>
<div class="TaskModal-overlay">
    <div class="TaskModal-content">
        <div class="TaskModal-header">
            <h2>Сброс пароля</h2>
        </div>
        <div class="TaskModal-description">
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
        </div>
    </div>  
</div>
<div style="height: 50px"></div>
{% endblock %}
    